# Your GCP Project ID
project_id = ""

# The region for your cron-replication resources (Cloud Scheduler, Cloud Run, Artifact Registry)
region = ""

# The source Artifact Registry repository you want to copy FROM
# Format: projects/PROJECT_ID/locations/LOCATION/repositories/REPO_NAME
source_repo = ""

# The destination Artifact Registry repositories you want to copy TO
# Format: ["projects/PROJECT_ID/locations/LOCATION/repositories/REPO_NAME"]
destination_repos = []

# (Optional) Whether to run in dry run mode
dry_run = true

# (Optional) Customize the run schedule. If ommitted, the job will have to be triggered manually.
# schedule = "0 12 * * *"  # Noon every day

# (Optional) Whether to poll the Copy operation until completion
# poll_operation = false

# (Optional) Continue copying even if a specific version is skipped due to non-transient errors
# continue_on_skipped_version = false

# (Optional) If set to > 0, only versions updated/created within the specified number of days will be copied.
# max_version_age_days = 0

# (Optional) Include all attachments from the source artifact
# all_attachments_included = false

# (Optional) Exclude all tags from the source artifact
# all_tags_excluded = false

# (Optional) Whether to disable granting the runner SA reader IAM permission on the source repository.
# If set to true, you must manually grant the permission.
# disable_source_repo_reader = false

# (Optional) Execution timeout for the Cloud Run Job. If polling is enabled, this should be longer than the expected copy time.
# timeout = "600s"

